include MANIFEST.in
include README.md
include license.txt
include requirements.txt
recursive-include alaiy_os_agents *.json *.js *.css *.html *.py *.txt
recursive-include alaiy_os_agents *.md
recursive-include alaiy_os_agents *.png *.svg *.ico *.jpg *.jpeg
